{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#partie1">Partie 1</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#partie2">Partie 2</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#partie3">Partie 3</a>
				</li>
			</ul>
		</div>
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="card-body">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="partie1">
					<h5 class="card-title">Désignation</h5>
					<p class="card-text">
						{{form_row(form.nom)}}
						{{form_row(form.adresse)}}
						{{form_row(form.codePostal)}}
						{{form_row(form.ville)}}
						{{form_row(form.siret)}}
						{{form_row(form.secteur)}}
						{{form_row(form.statut)}}
					</p>
				</div>
				<div class="tab-pane fade" id="partie2">
					<h5 class="card-title">Communication</h5>
					<p class="card-text">
						{{form_row(form.numStandard)}}
						{{form_row(form.emailStandard)}}
						{{form_row(form.commentaire)}}
					</p>
				</div>

				<div class="tab-pane fade" id="partie3">
					<h5 class="card-title">{{form_row(form._token)}}</h5>
					<p class="card-text">
						{{ form_row(form.contacts.vars.prototype.nom)}}
						{{ form_row(form.contacts.vars.prototype.prenom)}}
						{{ form_row(form.contacts.vars.prototype.civilite)}}
						{{ form_row(form.contacts.vars.prototype.poste)}}
						{{ form_row(form.contacts.vars.prototype.email)}}
						{{ form_row(form.contacts.vars.prototype.tel)}}
						{{ form_row(form.contacts.vars.prototype.commentaire)}}
						{{ form_row(form.submit)}}
					</p>
				</div>

			</div>
		</div>
	</div>
	<br/>
	<a href="{{ path('app_societe') }}" class="btn btn-primary" style="color:white">Retour</a>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const textarea = document.getElementById('societe_commentaire');
const charCount = document.querySelector('label[for=societe_commentaire]');

textarea.addEventListener('input', function () {
const currentLength = textarea.value.length;
if (currentLength >= 75 || currentLength == 0) 
charCount.style.color = "#FF0000"
 else 
charCount.style.color = "#000000"
 charCount.textContent = ` Commentaire ${currentLength}/75`;
});
});
	</script>
{% endblock %}
