{% extends 'base.html.twig' %}

{% block title %}Les Prospects
{% endblock %}

{% block body %}
	<div>
		<div>
			<h1>Mes Prospects
			</h1>
			<div style="text-align:center;color:black;padding-left:65px;color:#96232D">
				<h5>
					<i>
						<b>Votre argument de vente !!!<span style="padding-left:20px;">"L'informatique ce n'est pas vôtre problème c'est notre métier"</span>
						</b>
					</i>
				</h5>
			</div>
		</div>
		<table class="table table-hover table-bordered ">
			<tr class="table-warning">
				<th scope="col">Nom - Adresse - Code Postal - Ville - Siret</th>
				<th scope="col-2">Num° - Email</th>
				<th scope="col">Commentaire</th>
				<th scope="col"></th>
			</tr>
			<tbody class="table-group-divider">
				{% for societe in societes %}
					<tr>
						<td style="color:blue;">
							{% if societe.etat%}
								<i  style="color:red;" class="{{societe.etat.logo}}"></i>
							{% endif %}
							
							{{societe.nom}}
							|
							{{societe.adresse}}
							|
							{{societe.codePostal}}
							|
							{{societe.ville}}
							|
							{{societe.siret}}
						</td>
						<td style="color:blue;">
							{{societe.numStandard}}
							|
							{{societe.emailStandard}}
						</td>
						<td style="color:blue;">
							{{societe.commentaire}}
						</td>
						<td>
							<a class="btn btn-success" href="{{ path('app_page',{s:societe})}}">
								Voire
							</a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</tbody>
	</table>

	<a class="btn btn-success" href="{{ path('app_ajout_societe') }}">
		<i class="bi bi-person-plus"></i>
		Prospects</a>
	<a class="btn btn-outline-dark" href="{{path('app_logout')}}">Déconnexion</a>


</div>{% endblock %}
