{% extends 'base.html.twig' %}

{% block title %}Les Prospects
{% endblock %}

{% block body %}
	<style></style>

	<div>
		<h1>Mes Prospects</h1>
		<table class="table table-hover table-bordered">
			<tr>
				<th scope="col">Nom - Adresse - Code Postal - Ville - Siret</th>
				<th scope="col-2">Num° - Email</th>
				<th scope="col">Commentaire</th>
			</tr>
			<tbody class="table-group-divider">
				{% for societe in societes %}
					<tr>
						<td>
							{{societe.nom}}
							-
							{{societe.adresse}}
							-
							{{societe.codePostal}}
							-
							{{societe.ville}}
							-
							{{societe.siret}}
						</td>
						<td>
							{{societe.numStandard}}
							-
							{{societe.emailStandard}}
						</td>
						<td>
							{{societe.commentaire}}
						</td>
						<td>
							<a class="btn btn-success" href="{{ path('app_page',{s:societe})}}"> Voire </a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-success" href="{{ path('app_ajout_societe') }}">
			<i class="bi bi-person-plus"></i>
			Prospects</a>

	</div>
{% endblock %}
