{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="card text-center mx-auto" style="width:50%;margin-top:10%;">
		<div class="card-header">
			Inscription
		</div>
		<div class="card-body">
			<h5 class="card-title">Créer un compte</h5>
			{{ form_errors(registrationForm) }}
			{{ form_start(registrationForm) }}

			<p class="card-text">
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
				{{ form_row(registrationForm.agreeTerms) }}
			</p>

			<button type="submit" class="btn btn-primary">Inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
		<div class="card-footer text-body-secondary">
			Com'Unity Conquete
		</div>
	</div>


{% endblock %}
