{% extends 'base.html.twig' %}

{% block title %}Questions Admin
{% endblock %}

{% block body %}
	<h1>Les Questions</h1>
	<div class="accordion" id="accordion">
		{% for theme in themes %}
			<div class="accordion-item" data-id="{{ theme.id }}" draggable="true">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ theme.id }}" aria-expanded="true" aria-controls="collapse{{ theme.id }}">
						{{ theme.nom }}
					</button>
				</h2>
				<div id="collapse{{ theme.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
					<div class="accordion-body">
						<div class="questions-container" data-theme-id="{{ theme.id }}">
							{% for question in questions %}
								{% if theme is same as question.getIdTheme() %}
									<div class="question-item" data-id="{{ question.id }}" draggable="true">
										{{ question.ordre }}
										-
										{{ question.intitule }}
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<br/>
						<a class="btn btn-success" href="{{ path('app_question_new', { 't': theme.id }) }}">
							+ Question</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<br/>

	<button id="save-order-btn" class="btn btn-primary" data-url="{{ path('theme_order') }}">Enregistrer Ordre</button>

	<script src="{{ asset('js/dragDrop.js') }}"></script>


{% endblock %}
