{% block body %}

	<table class="table table-hover">
		<thead class="table-light">
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Poste</th>
				<th scope="col">Email</th>
				<th scope="col">Tel</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			{% for contact in contacts %}
				<tr>
					<td>{{contact.nom}}</td>
					<td>{{contact.prenom}}</td>
					<td>{{contact.poste}}</td>
					<td>{{contact.email}}</td>
					<td>{{contact.tel}}</td>
				</tr>
				
				{{include('contact/add.html.twig')}}
			{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal{{prospect.id}}">
		<i class="bi bi-person-add"></i>
		Contacts</a>
{% endblock %}
